.navbar-brand {
    font-family: 'Satisfy', cursive;
    color: #D9A679;
    height: 40px;
    font-size: 40px;
    margin-top: -10px;
    margin-bottom: 15px;
}

.navbar {
    background-color: #1C2621;
    border-bottom: dashed 3px white;  
}


.navbar a {
    color: white;
}

body {
    background-image: url("./Assets/Images/background.jpg");
    background-color: #cccccc;
    background-repeat: repeat;
    background-size: cover;
    height: 100%;
}

.container a {
    color: white;
}

img {
    border: dashed 3px white;
}

.lato {
    font-family: 'Lato', sans-serif;
}

.container {
    margin-top: 110px;
    background-color: rgba(105,115,99,0.7);
    width: fit-content;
    color:white;
    /* border: solid 5px #888C69; */
}

.container button {
    background-color: #1C2621;
}

.container h1 {
    font-family: 'Satisfy', cursive;
    font-size: 30px;
    text-align: center;
    margin: auto;
    color: #D9A679;
}

.pgraph {
    font-size: 19px;
}

form {
    width: 500px;
}

.active {
   font-weight: bolder;
}

.fas {
    position: absolute;
    right: 25px;
    top: 45px;
    color: gray;
}

