#landing {
    width: auto; height: 600px; margin-bottom: 10px;
}

body {
    background-color: #111011;
}

.roboto {
    font-family: 'Roboto Slab', serif;
}

.nova {
    font-family: 'Nova Flat', cursive;
}

.icon {
    font-size: 35px;
}

#carousel {
    width: 60%;
    margin: auto;
}

#name {
    position: absolute;
    bottom: 125px;
    left: 50px;
}

.pink{
    color: #ceb7b3;
}

.bungee {
    font-family: 'Bungee Shade', cursive;
    color: #9abca7;
}

.btn {
    font-family: 'Nova Flat', cursive;
    background-color: #ceb7b3;
    color:#111011;
}

.carousel-caption {
    position: relative;
    left: 0;
    top: 0;
}

.active {
   font-weight: bolder;
}

html {
    scroll-behavior: smooth !important;
}

.arrow {
    margin: auto !important;
    box-sizing: border-box;
    height: 3vw;
    width: 3vw;
    border-style: solid;
    border-color: white;
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
  }
  
  .arrow:hover {
    border-bottom-width: 4px;
    border-right-width: 4px;
  }
