.navbar-brand {
    font-family: 'Bitter', serif;
    height: 40px;
    font-size: 40px;
    margin-top: -10px;
    margin-bottom: 15px;
}
body {
    background-color: lightslategray;
}

.container {
    margin-top: 90px;
    background-color: whitesmoke;
}

.container h1 {
    font-family: 'Bitter', serif;
    font-size: 30px;
    border-bottom: thin, darkslategrey, solid;
}

form {
    width: 500px;
}

.image-fluid {
    float: left;
}