.navbar-brand {
    font-family: 'Pacifico', cursive;
    height: 40px;
    font-size: 40px;
    margin-top: -10px;
    margin-bottom: 15px;
}

body {
    background-color:#2D7A91;
}

.container {
    margin-top: 110px;
    background-color: #27515E;
}

.container h1 {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}

form {
    width: 500px;
}

.image-fluid {
    float: left;
}